.App {
  background-image: url("./image/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
}

.todayForcast {
  background-color: white;
  border: 1px solid #ababab;
  border-radius: 3px;
}
.WeekForcast {
  background-color: white;
  border: 1px solid #ababab;
  border-radius: 3px;
}
.weather {
  color: white;
}
.weather ul {
  list-style-type: none;
}

.searchBox {
  max-width: 600px;
  padding: 3px;
}
