.App {
  /* background-image: url("./image/background.jpg"); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  border-radius: 5px;
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  padding: 4px;
  max-width: 600px;
}
.footer {
  /* background-color: white; */
  border-radius: 10px;
  margin: 3px;
}
div.cityName,
.date {
  margin: 3px;
  margin-left: 35px;
}
h2.cityName {
  font-size: 24px;
}
h6.date {
  font-size: 12px;
  line-height: 1px;
  margin: 0px 0px 20px 0px;
  color: #ababab;
}
.weatherIcon {
  margin: 0px auto;
}
.info {
  border: 1px solid black;
  border-radius: 5px;
  margin: 4px;
  padding: 21px;
}
.todayTemp {
  margin: 10% auto 10% 0px;
}
.temp {
  font-size: 50px;
}
.unit {
  font-size: 24px;
  position: relative;
  top: -35px;
}
canvas {
  display: block;
  margin: auto;
}
.weather {
  color: black;
  max-width: 800px;
  min-height: 320px;
  margin: auto;
}
.weather ul {
  list-style-type: none;
}
.searchBox {
  max-width: 600px;
  padding: 3px;
  margin: 8% auto;
}
